<div style="border: solid 2px red; padding: 5px; margin-top: 50px">
  <p>
    Most top level page navigation's within this app are lazily loaded. They use
    ES6 import syntax and angular will look for the routing configuration. You
    can see the pages being loaded lazily within the network tab within the
    developer console. Lazy loading is important to help manage performance in
    large enterprise sized applications as you would not want to load the entire
    app to visit a single page.
  </p>
</div>
